/*
Author: Sadia Anha Tonni;
Theme: Cafeteria Food Order;
Version: 1.0;
*/
*/ CSS for All */
{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, Sans-serif;
}


.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;

}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}
a{
    color: #ff7675;
    text-decoration: none;
}

a :hover{
    color: #d63031;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff7675;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #d63031;
}
h2{
    color: #2d3436;
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

/* CSS for navbar section */
.logo{
    border: 1px solid black;
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}

.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* CSS for Food Search Section */

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7%;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/* CSS for Categories */

.categories{
    padding: 4% 0;
}

.box-3{
    border: 1px solid black;
    width: 28%;
    float: left;
    margin: 2%;
}
